.form {
  display: grid;
  gap: 1.5rem;
  width: min(calc(100% - 2rem), 40rem);
  padding-inline: 1rem;
  margin-inline: auto;
}

.form__group {
  display: grid;
  gap: 0.5rem;
}

.form__input {
  padding-block: 1rem;
  padding-inline: 1rem;
}

.is-invalid > .form__input {
  border: 1px solid var(--alert);
}

.is-invalid > .form__feedback {
  color: var(--alert);
}